/* Add CSS styles for your web site here and use them in index.html. */
*{
    background-color:lightskyblue;
    border-radius: 10px;
    border-color: black;
}
#name123{
    background-color: lightgoldenrodyellow;
}

#bigtitle{
    border-radius: 5px;
    border-color:  lightgoldenrodyellow;
    padding: 10px 10px;
}

#namesubmitbtn{
    background-color: lightgoldenrodyellow;
}

#startquiz{
    background-color: lightgoldenrodyellow;
}

#startq22{
    background-color: lightgoldenrodyellow;
}

#hideall{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-color:  lightgoldenrodyellow;
    padding: 10px 10px;
}


